<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.liqi.nohttputils">

    <application >
        <service
            android:name=".download.service.NohttpDownloadService"
            android:exported="false"
            android:label="NoHttpDownloadService"/>
    </application>

</manifest>
